---
---

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:100,300,400,500,700');

@import "fonts";
@import "reset";
@import "tachyons";
@import "gallery";


$base: 20px;
$base-height: $base * 1.5;

body {
}

.dark-theme {
  background-color: #111;
  color: #FFF;
  .name .first, .name .last, .navigation a {
    @extend .white;
    @extend .hover-red;
  }
}

.light-theme {
  color: #333;
  .name .first, .name .last, .navigation a {
    @extend .black;
    @extend .hover-red;
  }
}

.body-container {
  max-width: 1268px;
  margin: 0 auto;
  padding: 0;
}

.page-info {

  .page-title {
    font-family: "Roboto", serif;
    font-size: $base * 2;
    font-weight: 100;
    line-height: $base * 1.5;
  }

  .page-subtitle {
    font-size: $base ;
    font-weight: 400;
    line-height: $base * 1.5;
  }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animated {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 5vw;

  @extend .sans-serif;
  letter-spacing: -1px;
  font-size: $base;

  .name {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;

    height: $base;
    overflow: hidden;

    a {
      display: inline;
      @extend .link;
      @extend .hover-red;

      span {
        display: block;
      }
      .first {
        margin-top: 0px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
      }
    }
  }

  .name:hover .first {
    margin-top: -$base;
  }

  .navigation {
    float: right;
    a {
      display: inline;
      font-weight: 400;
      @extend .link;
      @extend .hover-red;
      @extend .black;
    }
  }
}

.grid {
	margin: 0;
	padding: 0;
	width: 100%;
  .grid-item {
  	display: inline;
  	float: left;
    overflow: hidden;
  }
}

.expand {
  @extend .sans-serif;
  font-size: $base * 2 / 3;
  line-height: $base-height;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-kerning: none;
}

.expand:hover {
    cursor: pointer;
}

@import "frontpage";

.hero-white-iphone {
  background: url("../images/receipts/iphone.png") center no-repeat;
  background-size: 356px 697px;

  padding: 108px 43px 108px 43px;
  width: 356px;
  height: 697px;
}

.section {
  width: 100%;
  padding: $base-height 10px;
  @extend .flex;
  @extend .flex-wrap;
  border-bottom: 2px solid #EEE;
  margin-bottom: -2px;
}

.flexless-section {
  width: 100%;
  padding: $base-height 10px;
  border-bottom: 2px solid #EEE;
}

.subsection-base {
  margin: $base * 0.75 0;
}

.subsection-row {
  width: 100%;
  @extend .flex;
  @extend .flex-wrap;
}

.subsection {
  @extend .subsection-base;
  flex: 0 0 100%;
}

.subsection-two-thirds {
  @extend .subsection-base;
  flex: 2 2 416px;
}
.subsection-third {
  @extend .subsection-base;
  flex: 1 1 208px;
}
.subsection-quarter {
  @extend .subsection-base;
  flex: 1 1 156px;
}
.subsection-half {
  @extend .subsection-base;
  flex: 1 1 312px;
}

.section-headline {
  display: inline-block;

  color: #000;
  @extend .sans-serif;
  font-weight: 700;

  font-size: $base * 1.5;
  line-height: $base * 1.5;
  letter-spacing: -1px;
}

.exp:before {
    height: 4px;
    display: inline-block;
    width: 100%;
    background: #000000;
    content: '';
}

.subsection-headline {
  @extend .sans-serif;
  font-size: $base * 2 / 3;
  line-height: $base-height;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-kerning: none;
}

p + .subsection-headline {
  margin-top: $base-height;
  padding-top: $base-height;
  border-top: 1px solid #EEE;
}

p {
  font-size: $base;
  font-weight: 400;

  line-height: $base-height;
  padding-top: $base-height;
}
p:first-child {
  padding-top: 0;
}
ul, ol {
  margin-top: $base-height;
  li {
    font-size: $base;
    line-height: $base-height;
    font-weight: 400;
    margin-left: $base;
    width: auto;
  }
  ul, ol {
    margin-top: 0;
  }
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal-leading-zero;
}

ul.rundown {
  list-style: none;
  margin-top: 0;
  li {
    @extend .black;

    @extend .sans-serif;
    font-size: $base;
    line-height: $base-height;
    font-weight: 400;

    margin-left: 0;
    padding-left: 5px;
    padding-right: 5px;

    padding-top: $base-height / 2;
    padding-bottom: $base-height / 2;
    border-bottom: 1px solid #EEE;
    margin-bottom: -1px;
  }
  li:first-child {
    @extend .sans-serif;
    font-size: $base * 2 / 3;
    line-height: $base-height;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-kerning: none;

    padding-top: 0;
  }
  li span {
    border-radius: $base / 8;
    font-size: $base * 0.666;
    padding: 4px 6px;
    @extend .white;
    font-weight: 700;
    letter-spacing: -1px;
    vertical-align: top;

    margin-right: 4px;
  }
  li span.tag-design {
    background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
  }
  li span.tag-feedback {
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  }
  li span.tag-insight {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  }
}

a {
  @extend .link;
  @extend .red;
  @extend .hover-dark-red;
}

figure {
  padding: 0;
  margin: 0;
}

.big-statement {
  background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
  background-size: 100% 100%;
  background-position: left center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;

  @extend .sans-serif;
  font-size: $base * 3;
  line-height: $base-height * 2;
  font-weight: 100;
  text-transform:full-width;
  letter-spacing: 1px;
  font-kerning: none;
}

.hero-icon {
  width: 85px;
  height: 85px;
}

p + .diagram {
  padding-top: $base-height;
  width: 100%;
}

.half {
  flex: 1 1 calc(624px - 16px);
  padding: 8px;
}
