---
---

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:100,300,400,500,700');

@import "reset";
@import "tachyons";
@import "gallery";


$base: 16px;

body {
  font-family: 'Roboto Slab', serif;
}

.dark-theme {
  background-color: #111;
  color: #FFF;
  .name .first, .name .last, .navigation a {
    @extend .white;
    @extend .hover-red;
  }
}

.light-theme {
  color: #333;
  .name .first, .name .last, .navigation a {
    @extend .black;
    @extend .hover-red;
  }
}

.body-container {
  max-width: 1268px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-info {

  .page-title {
    font-family: "Roboto", serif;
    font-size: $base * 2;
    font-weight: 100;
    line-height: $base * 1.5;
  }

  .page-subtitle {
    font-size: $base ;
    font-weight: 400;
    line-height: $base * 1.5;
  }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animated {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 5vw;

  font-family: "Roboto",sans-serif;
  letter-spacing: 0;
  font-size: 20px;

  .name {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;

    height: 20px;
    overflow: hidden;

    a {
      display: inline;
      @extend .link;
      @extend .hover-red;

      span {
        display: block;
      }
      .first {
        margin-top: 0px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
      }
    }
  }

  .name:hover .first {
    margin-top: -20px;
  }

  .navigation {
    float: right;
    a {
      display: inline;
      font-weight: 400;
      @extend .link;
      @extend .hover-red;
      @extend .black;
    }
  }
}

.grid {
	margin: 0;
	padding: 0;
	width: 100%;
  .grid-item {
  	display: inline;
  	float: left;
    overflow: hidden;
  }
}



.expand {
  text-decoration: none;
}

.expand:hover {
    cursor: pointer;
}

.collapsible {
}

@import "frontpage";

.hero-white-iphone {
  background: url("../images/receipts/iphone.png") center no-repeat;
  background-size: 396px 774px;

  padding: 120px 48px 120px 48px;
  width: 396px;
  height: 774px;
}

.screen-in-white-iphone {
  background: url("../images/receipts/iphone.png") top center no-repeat;
  background-size: 352px 688px;
  padding: 107px 43px 0px 43px;
  width: 352px;
  height: 583px;
}

.divider {
  border-bottom: 1px solid #d6d6d6;
}

.section {
  width: 100%;
  .image-subsection {
    margin: ($base * 3) 0;
    width: auto;
    max-width: 1248px;
    figure {
      margin: 0;
      image {
        padding: 0;
        margin: 0;
      }
      figcaption {
        font-size: $base;
        line-height: calc($base * 1.5);
        font-weight: 500;

        margin: 0;
        margin-top: -3px;
        padding: 4px;
        color: #999;
        background-color: #F9F9F9;
      }
    }
  }

  .text-subsection {
    max-width: 624px;
    margin: ($base * 3) 0;
    padding: 0px 8px;

    .subsection-headline {
      color: #999;
      font-family: "Roboto", sans-serif ;
      font-weight: 300;

      font-size: $base * 1.5;
      line-height: $base * 1.5;

      margin-bottom: $base * 1.5;
    }
  }

  p {
    color: #000;

    font-size: $base;
    line-height: $base * 1.5;
    font-weight: 400;
    width: auto;

    margin-bottom: $base * 1.5;
  }
  p.summary {
    font-size: $base;
    line-height: $base * 1.5;
    font-weight: 400;
  }
  ul, ol {
    margin-bottom: $base * 1.5;
    li {
      font-size: $base;
      line-height: 1.5;
      font-weight: 400;
      margin-left: $base * 2;
      width: auto;
    }
    ul, ol {
      margin-bottom: 0;
    }
  }
  ul {
    list-style: circle;
  }
  ol {
    list-style: decimal-leading-zero;
  }
  a {
    @extend .link;
    @extend .red;
    @extend .hover-dark-red;
  }
}

.section-content {
  width: 100%;
  @extend .mh0;
  @extend .pb4;
}

.hero-icon {
  width: 85px;
  height: 85px;
}

.section-headline {
  font-family: "Roboto", sans-serif ;
  font-size: $base;
  font-weight: 300;
  line-height: $base * 1.5;
}

.section-subheadline {
  font-family: "Roboto", sans-serif;
  font-size: $base;
  font-weight: 300;
  line-height: $base * 1.5;
}

.subsection {
  margin: 20px 0;
}

.subsection-subtitle {
  color: #666;
  font-family: "Roboto", sans-serif;
  font-size: $base;
  line-height: $base * 1.5;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.diagram {
  margin-bottom: 20px;
  width: 100%;
}

.image {
  width: 1268px;
}

.half {
  flex: 1 1 calc(624px - 16px);
  padding: 8px;
}
