---
---

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,700');
@import "reset";
@import "variables";
@import "tachyons";
@import "local";
@import "gallery";

body {
  font-family: 'Roboto', sans-serif;
}

.dark-theme {
  background-color: #111;
  color: #FFF;
  .name .first, .name .last, .navigation a {
    @extend .white;
    @extend .hover-red;
  }
}

.light-theme {
  color: #333;
  .name .first, .name .last, .navigation a {
    @extend .black;
    @extend .hover-red;
  }
}

.body-container {
  max-width: 1268px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-info {

  .page-title {
    font-size: 48px;
    font-weight: 200;
    line-height: 1;
    margin: 0 0 16px 0;
  }

  .page-subtitle {
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
  }
}

.email:after {
  vertical-align: bottom;
  display: inline-block;;
  content: " ";
  background-image: url(../images/icon_email.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 28px;
  height: 34px;
  margin-left: 4px;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animated {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 5vw;

  letter-spacing: 0;
  font-size: 20px;

  .name {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;

    height: 20px;
    overflow: hidden;

    a {
      display: inline;
      @extend .link;
      @extend .hover-red;

      span {
        display: block;
      }
      .first {
        margin-top: 0px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
      }
    }
  }

  .name:hover .first {
    margin-top: -20px;
  }

  .navigation {
    float: right;
    a {
      display: inline;
      font-weight: 400;
      @extend .link;
      @extend .hover-red;
      @extend .black;
    }
  }
}

.grid {
	margin: 0;
	padding: 0;
	width: 100%;
  .grid-item {
  	display: inline;
  	float: left;
    overflow: hidden;
  }
}


.show-content {
    background-color: #eee;
    border-radius: 4px;
    color: #666;
    display: block;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-decoration: none;
}

.hide-content {
    background-color: #ccc;
    border-radius: 4px;
    color: #333;
    margin: 5px 0;
    padding: 5px 10px;
    width: auto;
}




@import "frontpage";
