---
---

//
// IMPORTS
//

@import "tachyons";
@import "colors";
// Syntax highlighting @import is at the bottom of this file

/****************/
/* CUSTOM RULES */
/****************/

@keyframes animated-introduction-bg {
	from { background-position: 0 100em; }
	to { background-position: 0 0em; }
}

#introduction	{
  opacity: 50%;
	background-position: center;
	background-repeat: repeat;
  @extend .cover;
	animation: animated-introduction-bg 30s linear infinite;
}

@mixin bg-dg-grad($color1, $color2) {
  background: $color1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, $color1, $color2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, $color1, $color2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, $color1, $color2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, $color1, $color2); /* Standard syntax */
}

.custom-healthcare {
  @include bg-dg-grad(#A0AfC5, #CEE0F2);
}

.custom-hackingedu {
  @include bg-dg-grad(#b70078, #940080);
}

/**************/
/* BASE RULES */
/**************/

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xp1 {
  @extend .f5;
  @extend .measure-wide;
  @extend .lh-copy;
  @extend .mt0;
  @extend .pv2;
}

.xp1 > img {
  @extend .h-100;
  @extend .w-100;
}

.xp2 {
  @extend .f6;
  @extend .lh-copy;
  @extend .mt0;
  @extend .pv2;
}

// Default hyperlink style
a {
  @extend .link;
  @extend .bg-animate;
  @extend .hover-dark-blue;
  @extend .no-underline;
  @extend .b;
  @extend .blue;
}

.bg-22242C {
  background-color: #22242C;
}


ul.grid {
  @extend .ma0;
  @extend .pa0;
  @extend .list;
}

ul.grid:after {
  clear: both;
}

li.grid-item {
  @extend .w-third-l;
  @extend .w-100;
  @extend .fl;
  height: 250px;
}

li.grid-item > a > span.inner {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: visible;
  @extend .ma1;
}

span.background {
  @extend .bg-center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

li.grid-item > a > span.inner > span.primary {
  @extend .cover;
  @extend .w-100;
  @extend .h-100;
  @extend .db;
  @extend .br1;
  content: '';
}

span.secondary {
  @extend .br1;
  @extend .o-0;
  transition: opacity 300ms cubic-bezier(.57,0,.37,.83);
}

span.inner:hover > span.secondary,
span.inner:focus > span.secondary,
span.inner.hover_effect > span.secondary {
  transition: opacity 300ms cubic-bezier(.57,0,.37,.83);
  @extend .o-80;
}

span.content {
  @extend .w-100;
  text-align: center;
  @extend .db;
  @extend .relative;
  @extend .pa2;
  @extend .pt4;
}

span.content > span.title {
  @extend .db;
  @extend .near-white;
  @extend .f6;
  @extend .ttu;
  @extend .tracked;
  @extend .fw6;
  @extend .o-70;
}

span.inner:hover > span.content > span.title,
span.inner:focus > span.content > span.title,
span.inner.hover_effect > span.content > span.title {
  @extend .o-100;
  transition: opacity 300ms cubic-bezier(.57,0,.37,.83);
}

span.content > span.description {
  @extend .pa4;
  @extend .db;
  @extend .white;
  @extend .lh-copy;
  @extend .f5;
  @extend .fw4;
  @extend .o-0;
  transition: opacity 300ms cubic-bezier(.57,0,.37,.83);
}

span.inner:hover > span.content > span.description,
span.inner:focus > span.content > span.description,
span.inner.hover_effect > span.content > span.description  {
  @extend .o-100;
  transition: opacity 300ms cubic-bezier(.57,0,.37,.83);
}

span.pushdown {
  @extend .db;
  @extend .w-100;
  @extend .o-0;
  @extend .f6;
  @extend .fw4;
  @extend .dark-gray;
  content: 'project';
  height: 1px;
  margin-bottom: 0px;
  transition: opacity 100ms cubic-bezier(.57,0,1,.62), margin-bottom 300ms cubic-bezier(.57,0,.37,.83);
}

span.inner:hover > span.content > span.pushdown,
span.inner:focus > span.content > span.pushdown,
span.inner.hover_effect > span.content > span.pushdown {
  @extend .o-100;
  margin-bottom: 2rem;
  transition: opacity 300ms cubic-bezier(.57,0,1,.62), margin-bottom 300ms cubic-bezier(.57,0,.37,.83);

}
