---
---

//
// IMPORTS
//

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Vampiro+One');
@import url('https://fonts.googleapis.com/css?family=VT323');

@import "reset";
@import "variables";
@import "tachyons";
@import "colors";
@import "footnotes";
// Syntax highlighting @import is at the bottom of this file

/****************/
/* CUSTOM RULES */
/****************/


* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "gallery";

header {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

  height: 5vw;
  padding: 16px;

  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
  font-size: 16px;

  .name {
    align-self: center;
    font-weight: 700;
  }
  nav {
    align-self: center;
    a {
      font-weight: 700;
      @extend .link;
      @extend .hover-red;
      @extend .black;
      margin-left: 16px;
    }
  }
}

.grid {
	margin: 0;
	padding: 0;
	width: 100%;
  .grid-item {
  	display: inline;
  	float: left;
    overflow: hidden;
  }
}

.dark-theme {
  color: #000;
  .project-meta {
    color: #555555;
  }
}

.light-theme {
  color: #FFF;
  .project-meta {
    color: #FFF;
  }
}

.project-container {
  // Flexbox configuration
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;

  // Box dimensions
  margin: 0px;
  padding: 8px;
  height: calc(100% - 0px);
  width: calc(100% - 0px);
  @extend .hide-child;

  // Flexitems configurations
  .project-info {
    align-self: flex-start;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

    .project-title {
      font-size: 16px;
      text-rendering: geometricPrecision;
      font-weight: 400;
      line-height: 1.4;
    }

    .project-subtitle {
      font-size: 16px;
      color: #EFEFEF;
      @extend .bg-red;
      font-weight: 400;
      line-height: 1.4;
      padding: 4px 12px 4px 10px;
      margin-top: 4px;
      @extend .child;

      position: relative;
      left: -8px;
    }
  }

  .project-meta {
    align-self: flex-end;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    @media screen and (max-width: 768px) {
      font-size: 16px;
    }

    .project-type {
      font-weight: 700;
    }
    .project-date:before {
      content: "| ";
    }
    .project-date {
      font-weight: 700px;
    }
  }
}

.tile {

}

.tile-2x2 {
  @extend .tile !optional;
}

.tile-1x1 {
  @extend .tile !optional;
}

@media screen and (min-width: 1028px) {
  .tile-2x2 {
  	width: 40%;
    height: 40vw;
  }
  .tile-1x1, .grid-sizer {
  	width: 20%;
    height: 20vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1028px) {
  .tile-2x2 {
    width: 50%;
    height: 50vw;
  }
  .tile-1x1, .grid-sizer {
    width: 25%;
    height: 25vw;
  }
}

@media screen and (max-width: 768px) {
  .tile-2x2 {
    width: 100%;
    height: 100vw;
  }
  .tile-1x1, .grid-sizer {
    width: 100%;
    height: 100vw;
  }
}
