---
---

//
// IMPORTS
//

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=VT323');

@import "reset";
@import "variables";
@import "tachyons";
@import "local";
@import "colors";

@import "gallery";
// Syntax highlighting @import is at the bottom of this file

/****************/
/* CUSTOM RULES */
/****************/

body {
  font-family: 'Roboto', sans-serif;
}

.body-container {
  max-width: 1268px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-info {

  .page-title {
    font-size: 48px;
    font-weight: 200;
    line-height: 1;
    margin: 0 0 16px 0;
  }

  .page-subtitle {
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
  }
}

.email:after {
  vertical-align: bottom;
  display: inline-block;;
  content: " ";
  background-image: url(../images/icon_email.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 28px;
  height: 34px;
  margin-left: 4px;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animated {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 5vw;

  letter-spacing: 0;
  font-size: 20px;

  .name {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;

    height: 20px;
    overflow: hidden;

    a {
      display: inline;
      @extend .link;
      @extend .hover-red;
      @extend .black;

      span {
        display: block;
      }
      .first {
        margin-top: 0px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
      }
    }
  }

  .name:hover .first {
    margin-top: -20px;
  }

  .navigation {
    float: right;
    a {
      display: inline;
      font-weight: 400;
      @extend .link;
      @extend .hover-red;
      @extend .black;
    }
  }
}

.grid {
	margin: 0;
	padding: 0;
	width: 100%;
  .grid-item {
  	display: inline;
  	float: left;
    overflow: hidden;
  }
}

.dark-theme {
  color: #333;
  .project-meta {
    color: #555555;
  }
}

.light-theme {
  color: #FFF;
  .project-meta {
    color: #FFF;
  }
}

.project-container {
  // Flexbox configuration
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;

  // Box dimensions
  margin: 0px;
  padding: 8px;
  height: calc(100% - 0px);
  width: calc(100% - 0px);
  @extend .hide-child;

  // Flexitems configurations
  .project-info {
    align-self: flex-start;
    margin: 0;
    padding: 0;
    font-size: 20px;

    .project-title {
      font-weight: 400;
      line-height: 1.4;
    }

    .project-subtitle {
      color: #EFEFEF;
      @extend .bg-red;
      font-weight: 400;
      line-height: 1.4;
      padding: 4px 12px 4px 10px;
      margin-top: 4px;
      @extend .child;

      position: relative;
      left: -8px;
    }
  }

  .project-meta {
    align-self: flex-end;
    text-transform: uppercase;
    font-size: 12px;
    @media screen and (max-width: 768px) {
      font-size: 16px;
    }

    .project-type {
      font-weight: 700;
    }
    .project-date:before {
      content: "| ";
    }
    .project-date {
      font-weight: 700px;
    }
  }
}


.tile {

}

.tile-2x2 {
  @extend .tile !optional;
}

.tile-1x1 {
  @extend .tile !optional;
}

@media screen and (min-width: 768px) {
  .tile-2x2 {
  	width: 66.666%;
    height: 800px;
  }
  .tile-1x1, .grid-sizer {
  	width: 33.333%;
    height: 400px;
  }
}
/*
@media screen and (min-width: 768px) and (max-width: 1028px) {
  .tile-2x2 {
    width: 50%;
    height: 50vw;
  }
  .tile-1x1, .grid-sizer {
    width: 25%;
    height: 25vw;
  }
}
*/
@media screen and (max-width: 768px) {
  .tile-2x2 {
    width: 100%;
    height: 100vw;
  }
  .tile-1x1, .grid-sizer {
    width: 100%;
    height: 100vw;
  }
}
