@font-face {
  font-family: 'Akzidenz Grotesk';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/Akzidenz-Grotesk-100.otf');
}
@font-face {
  font-family: 'Akzidenz Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Akzidenz-Grotesk-400.otf');
}
@font-face {
  font-family: 'Akzidenz Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Akzidenz-Grotesk-700.otf');
}
