

.illustrations {
  background-image: url("../images/gallery/illustration.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
    @extend .dark-labels;
}

.hackingedu-cover {
  background-image: url("../images/gallery/hackingedu.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  @extend .light-labels;
}

.reddit-cover {
  background-image: url("../images/gallery/reddit-cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @extend .dark-labels;
}

.health-cover {
  background-image: url("../images/gallery/health-cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @extend .light-labels;
}

.dfa-kris {
  background-image: url("../images/dfa/dfa-team.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @extend .light-labels;
}

.program-diagram {
  background-image: url("../images/gallery/program-diagram.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 66%;
  background-color: #EFEFEF;
  @extend .dark-labels;
}

.receipts-app {
  background-image: url("../images/gallery/receipts-app.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @extend .bg-pink;
  @extend .light-labels;
}
