

.illustrations {
  background-image: url("../images/gallery/illustration.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
    @extend .dark-labels;
}

.hackingedu-cover {
  background-image: url("../images/gallery/hackingedu.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  @extend .light-labels;
}

.reddit-cover {
  background-image: url("../images/gallery/reddit-cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @extend .dark-labels;
}

.health-cover {
  background-image: url("../images/gallery/health-cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @extend .light-labels;
}

.dfa-kris {
  background-image: url("../images/gallery/dfa-kris.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  @extend .dark-labels;
}

.program-diagram {
  background-image: url("../images/gallery/program-diagram.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 66%;
  background-color: #EFEFEF;
  @extend .dark-labels;
}

.receipts-design {
  @extend .bg-blue;
  @extend .light-labels;
}

.receipts-icon {
  background-image: url("../images/gallery/receipts-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 33%;
  background-color: #000;
  @extend .light-labels;
}

.receipts-app {
  background-image: url("../images/gallery/receipts-app2.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: auto 85%;
  @extend .bg-near-white;
  @extend .dark-labels;
}
