$base: 18px;

.hero-white-iphone {
  background: url("../images/receipts/iphone.png") center no-repeat;
  background-size: 396px 774px;

  padding: 120px 48px 120px 48px;
  width: 396px;
  height: 774px;
}

@include largedesktop {
  .hero-iphone {
    background-size: 495px 968px;
    padding: 150px 60px 150px 60px;
    width: 495px;
    height: 968px;
  }
}

.screen-in-white-iphone {
  background: url("../images/receipts/iphone.png") top center no-repeat;
  background-size: 352px 688px;
  padding: 107px 43px 0px 43px;
  width: 352px;
  height: 583px;
}

.divider {
  border-bottom: 1px solid #d6d6d6;
}

.section {
  width: 100%;
  margin: 0;

  .image-subsection {
    width: auto;
    max-width: 1248px;
    figure {
      margin: 0;
      image {
        padding: 0;
        margin: 0;
      }
      figcaption {
        font-size: $base;
        line-height: calc($base * 1.5);
        font-weight: 500;

        margin: 0;
        margin-top: -3px;
        padding: 4px;
        color: #EEE;
        background-color: #666;
      }
    }
  }

  .text-subsection {
    max-width: 624px;
    margin: 0;
    padding: 0px 8px;

    .subsection-headline {
      color: #666;
      font-family: "Roboto", sans-serif ;
      font-weight: 500;

      font-size: 24px;
      line-height: 36px;
    }
  }

  p {
    color: #222;

    font-size: $base;
    line-height: $base * 1.5;
    font-weight: 300;
    width: auto;

    margin-bottom: 24px;
  }

  p.summary {
    font-size: $base;
    line-height: $base * 1.5;
    font-weight: 500;
  }

  ul {
    list-style: circle;

    li {
      font-size: $base;
      line-height: $base * 1.5;
      font-weight: inherit;
      margin-left: 18px;
    }
  }
}

.section-content {
  width: 100%;
  @extend .mh0;
  @extend .pb4;
}

.hero-icon {
  width: 85px;
  height: 85px;
}

.section-headline {
  font-family: "Roboto", sans-serif ;
  font-size: 36px;
  font-weight: 300;
  line-height: 60px;
}

.section-subheadline {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 60px;
}

.subsection {
  margin: 20px 0;
}

.subsection-description {
  -webkit-font-smoothing: antialiased;
  @extend .f5-l;
  @extend .f6;
  font-style: normal;
  font-synthesis: none;
  font-weight: normal;
  text-rendering: optimizelegibility;
  line-height: 1.67;
}

.subsection p {
  font-size: 20px;
  @extend .fw4;
  @extend .lh-copy;
  width: 100%;
  max-width: 100%;
  margin: 16px 0;
}

.subsection-subtitle {
  color: #999;
  @extend .tracked;
  @extend .f5-l;
  @extend .f5-m;
  @extend .f6;
  @extend .fw6;
  text-transform: uppercase;
}

.subsection li {
  @extend .f4-l;
  @extend .f5-m;
  @extend .f6;
  @extend .fw2-l;
  @extend .fw4;
  @extend .lh-copy;
  width: 100%;
  max-width: 100%;
  @extend .mb3;
}

.diagram {

  margin-bottom: 20px;
  width: 100%;
}

.image {
  width: 1268px;
}

.half {
  flex: 1 1 calc(624px - 16px);
  padding: 8px;
}
