
.hero-white-iphone {
  background: url("../images/receipts/iphone.png") center no-repeat;
  background-size: 396px 774px;

  padding: 120px 48px 120px 48px;
  width: 396px;
  height: 774px;
}

@include largedesktop {
  .hero-iphone {
    background-size: 495px 968px;
    padding: 150px 60px 150px 60px;
    width: 495px;
    height: 968px;
  }
}

.screen-in-white-iphone {
  background: url("../images/receipts/iphone.png") top center no-repeat;
  background-size: 352px 688px;
  padding: 107px 43px 0px 43px;
  width: 352px;
  height: 583px;
}

.divider {
  border-bottom: 1px solid #d6d6d6;
}

div.section {
  width: 100%;
  padding: 0!important;
  margin: 16px 0;
}

.section-content {
  width: 100%;
  @extend .mh0;
  @extend .pb4;
}

.hero-icon {
  width: 85px;
  height: 85px;
}

.section-headline {
  font-family: "Roboto", sans-serif;
  @extend .f1-ns;
  @extend .f2;
  @extend .fw3;
}

.section-subheadline {
  font-family: "Roboto", sans-serif;
  @extend .f3-ns;
  @extend .f4;
  @extend .fw3;
}

.section-description {
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  @extend .f4-l;
  @extend .f5-m;
  @extend .f6;
  font-style: normal;
  font-synthesis: none;
  font-weight: normal;
  text-rendering: optimizelegibility;
  line-height: 26px;
  line-height: 1.5;
  width: 80%;
  max-width: 950px;
}

.subsection {
  margin: 16px 0;
}

.subsection-headline {
  font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  @extend .f3-l;
  @extend .f4-m;
  @extend .f5;
  @extend .fw5;
  @extend .fw4-l;
}

.subsection-description {
  -webkit-font-smoothing: antialiased;
  font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  @extend .f5-l;
  @extend .f6;
  font-style: normal;
  font-synthesis: none;
  font-weight: normal;
  text-rendering: optimizelegibility;
  line-height: 1.67;
}

.subsection p {
  font-size: 20px;
  @extend .fw4;
  @extend .lh-copy;
  width: 100%;
  max-width: 100%;
  margin: 16px 0;
}

.subsection-subtitle {
  font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #999;
  @extend .tracked;
  @extend .f5-l;
  @extend .f5-m;
  @extend .f6;
  @extend .fw6;
  text-transform: uppercase;
}

.subsection li {
  @extend .f4-l;
  @extend .f5-m;
  @extend .f6;
  @extend .fw2-l;
  @extend .fw4;
  @extend .lh-copy;
  width: 100%;
  max-width: 100%;
  @extend .mb3;
}

.diagram {

  margin: 0 auto;
  width: auto;
  max-width: auto;
}

.image {
  width: 1268px;
}

.hero-image {
  content: " ";
  width: 100%;
  padding-bottom: 56.25%;
  background: url("images/receipts/san-francisco.png") no-repeat bottom center;
  background-size: cover;
}



.half {
  flex: 0 1 350px;
}
