
//
// VARIABLES
//

$main-font: Neue Helvetica,Helvetica, Arial, Roboto, sans-serif;

// Colors
$reddit-orange: #ff4500;
$reddit-dark-blue: #5f99cf;
$reddit-light-blue: #cee3f8;

$mobile: 468px;
$tablet: 768px;
$desktop: 1468px;
$largedesktop: 1968px;

@mixin largedesktop {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}

@mixin largedesktop_2x {
  @media screen and (min-width: #{$desktop}) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-width: #{$desktop}) and (min-resolution: 1.5dppx),
  only screen and (min-width: #{$desktop}) and (min-resolution: 144dpi) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop_2x {
  @media screen and (min-width: #{$tablet}) and (max-width: #{$desktop}) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-width: #{$tablet}) and (max-width:  #{$desktop}) and (min-resolution: 1.5dppx),
  only screen and (min-width: #{$tablet}) and (max-width:  #{$desktop}) and (min-resolution: 144dpi) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin tablet_2x {
  @media screen and (min-width: #{$mobile}) and (max-width: #{$tablet}) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-width: #{$mobile}) and (max-width:  #{$tablet}) and (min-resolution: 1.5dppx),
  only screen and (min-width: #{$mobile}) and (max-width:  #{$tablet}) and (min-resolution: 144dpi) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}

@mixin mobile_2x {
  @media screen and (max-width: #{$mobile}) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width:  #{$mobile}) and (min-resolution: 1.5dppx),
  only screen and (max-width:  #{$mobile}) and (min-resolution: 144dpi) {
    @content;
  }
}
