<!DOCTYPE html>
<html>

  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>

    <!--
    <header>
      <div class="section">
        <div class="container">
          <div class="half">
            <a href="/" class="dib f5 f4-ns fw6 mt0 mb1 link black hover-red dim" title="Home">
              Chris Wan
            </a>
          </div>
          <div class="half tr">
            <a title="すべてのプロジPROJECTSェクトを見る" href="{{ site.baseurl }}/" class="f6 fw6 link hover-red black mr1 mr3-m mr4-l dib">Projects <span class="red">プロジェクト</span></a>
            <a title="人物の略歴" href="{{ site.baseurl }}/about" class="f6 fw6 link hover-red black mr1 mr3-m mr4-l dib">About <span class="red">プロフィール</span></a>
          </div>
        </div>
      </div>
    </header>
  -->

    <header>
      <div class="name">Chris</div>
      <nav>
        <a title="すべてのプロジPROJECTSェクトを見る" href="{{ site.baseurl }}/">Projects</a>
        <a title="人物の略歴" href="{{ site.baseurl }}/about">About</a>
      </nav>
    </header>


    <main>
        {{ content }}
    </main>





    <footer>

    </footer>

    {% include analytics.html %}
  </body>
</html>
