<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <script src="{{ site.baseurl }}/scripts/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/scripts/box.js"></script>

  </head>

  <body class="{% if page.theme %}{{ page.theme }}{% else %}light-theme{% endif %}" >
    <div class="body-container animated fadeIn">

    <header>
      <div class="name">
        <a href="/">
          <span class="first">Chris</span>
          <span class="last">Wan</span>
        </a>
      </div>
      <div class="navigation">
        <a title="人物の略歴" href="{{ site.baseurl }}/about">About</a>
      </div>
    </header>


    <main>
        {{ content }}
    </main>

    {% include analytics.html %}
  </body>

  </div>
</html>
