<!DOCTYPE html>
<html>

  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <header>
      <section class="bg-white">
        <div class="dt container">
          <div class="dtc v-mid tl w-50">
            <a href="/" class="dib f5 f4-ns fw6 mt0 mb1 link black hover-red dim" title="Home">
              Chris Wan
            </a>
          </div>
          <nav class="db dtc v-mid w-50 tr">
            <a title="すべてのプロジPROJECTSェクトを見る" href="{{ site.baseurl }}/" class="f6 fw6 link hover-red black mr1 mr3-m mr4-l dib">Projects <span class="red">プロジェクト</span></a>
            <a title="人物の略歴" href="{{ site.baseurl }}/about" class="f6 fw6 link hover-red black mr1 mr3-m mr4-l dib">About <span class="red">プロフィール</span></a>
          </nav>
        </div>
      </section>
    </header>





    <main class="bt b--black-10 bg-white">
        {{ content }}
    </main>





    <footer>
      <section class="bg-near-black silver b--silver bt">
        <div class="container">
          <div class="third">
            <span class="f6 fw1 ">キュウリのようにクール🥒！</span>
          </div>
          <div class="third">
            <ul class="ma0 pa1 list">
              <h3 class="f6 ttu fw6 mt0 bb pb2 mb2">Projects&nbsp;<span class="fw1">プロジェクト</span></h3>
              {% for post in site.posts %}
              {% if post.layout == "project" %}
              <li class="mb1"><a href="{{ site.baseurl }}{{ post.url }}" class="link lh-copy f5 normal silver hover-red">{{ post.title }}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="third">
            <ul class="ma0 pa1 list">
              <h3 class="f6 ttu fw6 mt0 bb pb2 mb2">Posts&nbsp;<span class="fw1">ブログ記事</span></h3>
              <li class="mb1">(None yet)</li>
            </ul>
          </div>
        </div>
      </section>
    </footer>

    {% include analytics.html %}
  </body>
</html>
